{% macro displaySourceList(source_list) %} {% for source in source_list %}

<div class="col-md-4">
  <a href="article/{{ source.id }}"> {{ source.name }}</a>

  <!-- <p>{{ source.description }}</p>
  <p>{{ source.country }}</p> -->

  <div class="source">
    <p>{{ source.id }}</p>
    <p>{{ source.country }}</p>
  </div>
</div>
{% endfor %} {% endmacro %} {% macro displayArticlesList(articles_list) %} {%
for article in articles_list %}
<img src="{{ article.urlToImage }}" />
<h4>{{ article.author }}</h4>
<h4>{{ article.title }}</h4>
<h4>{{ article.description }}</h4>
<a
  href="{{ article.url }}"
  target=" _blank"
  class="btn"
  style="background-color: #000; color: #fff; margin-top: 5px;"
  >view more...</a
>

<h4>{{ article.publishedAt }}</h4>
<h4>{{ article.content }}</h4>
{% endfor %} {% endmacro %}
